<a href="https://colab.research.google.com/github/KimGriezmann/Bigcontest_2021/blob/master/working_space_SeongGwan/split_coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

In [7]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt 

plt.rc('font', family='NanumBarunGothic')

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
def create_df():

  #연도별 데이터 경로
  HTS_dir = '/content/drive/MyDrive/빅콘테스트/01_제공데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_HTS'
  Player_dir = '/content/drive/MyDrive/빅콘테스트/01_제공데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_선수'
  Hitter_dir = '/content/drive/MyDrive/빅콘테스트/01_제공데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_타자 기본'
  #단일 데이터 경로
  Team_dir = '/content/drive/MyDrive/빅콘테스트/01_제공데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_팀.csv'
  Schedule_dir = '/content/drive/MyDrive/빅콘테스트/01_제공데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_경기일정_2021.csv'
  val_dir = '/content/drive/MyDrive/빅콘테스트/02_평가데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_평가데이터.xlsx'

  year = [2018, 2019, 2020, 2021]

  for i in year:
    globals()['HTS_{}'.format(i)]     = pd.read_csv(HTS_dir + '_' + str(i) + '.csv', encoding='CP949')
    globals()['Player_{}'.format(i)]  = pd.read_csv(Player_dir + '_' + str(i) + '.csv', encoding='CP949')
    globals()['Hitter_{}'.format(i)]  = pd.read_csv(Hitter_dir + '_' + str(i) + '.csv', encoding='CP949')

  global Team_df, Schedule_df, val_df
  Team_df = pd.read_csv(Team_dir, encoding='CP949')
  Schedule_df = pd.read_csv(Schedule_dir, encoding='CP949')
  val_df = pd.read_excel(val_dir)

######################

#연도별 데이터 하나로 통합
def concat_df():
  df_list = ['HTS', 'Player', 'Hitter']

#각 칼럼이 모두 같은지 검사 후 통합
  for i in df_list:
    if ((globals()['{}_2018'.format(i)].columns == globals()['{}_2019'.format(i)].columns).all()) and ((globals()['{}_2019'.format(i)].columns == globals()['{}_2020'.format(i)].columns).all()) and \
    ((globals()['{}_2020'.format(i)].columns == globals()['{}_2021'.format(i)].columns).all()):
      globals()['{}_df'.format(i)] = pd.concat( [ globals()['{}_2018'.format(i)], globals()['{}_2019'.format(i)], globals()['{}_2020'.format(i)], globals()['{}_2021'.format(i) ] ] )

#연도별 길이의 합이 통합된 데이터의 길이와 같은지 검사
  for i in df_list:
    if len(globals()['{}_2018'.format(i)]) + len(globals()['{}_2019'.format(i)]) + len(globals()['{}_2020'.format(i)]) + len(globals()['{}_2021'.format(i)]) == len(globals()['{}_df'.format(i)]):
      print('{} is complete!'.format(i))

######################

create_df()
concat_df()

HTS is complete!
Player is complete!
Hitter is complete!

In [10]:
df = pd.read_csv('/content/drive/MyDrive/빅콘테스트/ops_data_2021.csv', encoding='CP949')
df['day'] = df['day'].apply(lambda x: int(x.replace('-', '')))

df.head()

  name  day   vs result  bat_order  ...    ops  pitch  avLI  RE24    WPA
0  강백호  404   한화  W 3:2          4  ...  1.417     16  1.14  0.89  0.122
1  강백호  406   LG  L 2:3          4  ...  0.661     14  2.07 -1.00 -0.183
2  강백호  407   LG  W 7:3          4  ...  0.993     17  1.43  1.75  0.330
3  강백호  408   LG  L 3:7          4  ...  0.996     17  0.89 -0.76 -0.102
4  강백호  409  @삼성  L 5:7          4  ...  1.145     21  0.94  1.88 -0.122

[5 rows x 32 columns]

In [24]:
target_col = list(range(7, 24))
target_col.append(28)
target_col.append(31)
tmp = df[df['name'] == '강백호']
ts_sum = tmp.iloc[:, target_col].sum()

In [38]:
tmp

   name  day   vs  result  bat_order  ...    ops  pitch  avLI  RE24    WPA
0   강백호  404   한화   W 3:2          4  ...  1.417     16  1.14  0.89  0.122
1   강백호  406   LG   L 2:3          4  ...  0.661     14  2.07 -1.00 -0.183
2   강백호  407   LG   W 7:3          4  ...  0.993     17  1.43  1.75  0.330
3   강백호  408   LG   L 3:7          4  ...  0.996     17  0.89 -0.76 -0.102
4   강백호  409  @삼성   L 5:7          4  ...  1.145     21  0.94  1.88 -0.122
..  ...  ...  ...     ...        ...  ...    ...    ...   ...   ...    ...
91  강백호  829   삼성   W 8:3          3  ...  1.065     24  1.31 -1.20 -0.144
92  강백호  831  @한화   L 2:5          3  ...  1.060      6  1.48 -0.79 -0.074
93  강백호  903  @키움  W 11:1          9  ...  1.063     11  1.22  0.99  0.041
94  강백호  904  @LG  W 11:1          3  ...  1.064     22  0.29  1.57 -0.020
95  강백호  905  @LG  W 11:0          3  ...  1.068     16  0.37  1.21 -0.007

[96 rows x 32 columns]

In [33]:
ts_sum

ab          347.000
score        55.000
hit         134.000
2_hit        30.000
3_hit         1.000
homerun      13.000
tb          205.000
rbi          82.000
sb            7.000
cs            2.000
bb           67.000
hpp           0.000
ibb           8.000
so           61.000
gdp           4.000
sh            0.000
sf            7.000
pitch      1814.000
WPA           4.696
dtype: float64

In [46]:
(ts_sum['hit'] + 1*ts_sum['2_hit'] + 2*ts_sum['3_hit'] + 3*ts_sum['homerun']) / ts_sum['ab']

0.590778097982709

In [48]:
(ts_sum['hit'] + 1*ts_sum['2_hit'] + 2*ts_sum['3_hit'] + 3*ts_sum['homerun'])

205.0

In [36]:
ts_sum['hit'] / ts_sum['ab']

0.3861671469740634

In [50]:
# 연속적 분할 함수
def last_split(df, start_date, train_num, pred_num):

    # 해당 시즌 타자 목록 (name -> pcode)
    hitter_list = list(set(df['name']))

    # 더해줄 칼럼 목록 (avg, obp, slg, ops, avLI, RE24 제외) 
    target_col = list(range(7, 24))
    target_col.append(28)
    target_col.append(31)

    # start_date 이후의 경기만 추출
    later_df = df[ df['day']  >= int(start_date) ]

    # 결과값 저장할 데이터프레임 생성
    split_result = pd.DataFrame()
    
    # 타자 한명씩 추출
    for player in hitter_list:

        # name -> pcode
        pl_data = later_df[later_df['name'] == player]

        # 경기 수가 train_num+pred_num보다 적으면 삭제
        if len(pl_data) < train_num+pred_num:
            print('{}은/는 경기 수가 {}보다 작기 때문에 삭제'.format(player, train_num+pred_num))
            pass

        else:
            # 날짜순으로 정렬
            pl_data = pl_data.sort_values('day').reset_index(drop=True)

            # train_num만큼의 경기를 tr_data에 저장
            tr_data = pl_data[:train_num]
            # 그 이후 pred_num만큼의 경기를 ts_data에 저장
            ts_data = pl_data[train_num:train_num+pred_num]
            
            # tr_data의 타겟 칼럼을 모두 합해서 저장
            sum_data = tr_data.iloc[:, target_col].sum()
            # 어떤 선수인지 저장 (name -> pcode)
            sum_data['name'] = player

            # ts_data의 성적들로 avg, slg, obp, ops 라벨 생성
            ts_sum = ts_data.iloc[:, target_col].sum()
            sum_data['avg_label'] = ts_sum['hit'] / ts_sum['ab']
            sum_data['slg_label'] = ts_sum['tb'] / ts_sum['ab']
            sum_data['obp_label'] = (ts_sum['hit'] + ts_sum['bb'] + ts_sum['hpp']) / (ts_sum['ab'] +  ts_sum['bb'] + ts_sum['hpp'] + ts_sum['sf'])
            sum_data['ops_label'] = sum_data['slg_label'] + sum_data['obp_label']

            # Series 데이터를 DataFrame 형식으로 변환
            sum_result = sum_data.to_frame().transpose()
            
            # 이 선수 데이터를 전체 데이터셋에 추가
            split_result = pd.concat([split_result, sum_result])
    
    # 데이터셋 인덱스 초기화
    split_result = split_result.reset_index(drop=True)
    
    return split_result


# 랜덤 마스킹 분할 함수
def random_split(df, seed, pred_num):
    
    # 해당 시즌 타자 목록 (name -> pcode)
    hitter_list = list(set(df['name']))

    # 더해줄 칼럼 목록 (avg, obp, slg, ops, avLI, RE24 제외) 
    target_col = list(range(7, 24))
    target_col.append(28)
    target_col.append(31)
    
     # 결과값 저장할 데이터프레임 생성
    split_result = pd.DataFrame()
    
    # 타자 한명씩 추출
    for player in hitter_list:
        pl_data = df[df['name'] == player].reset_index(drop=True)

        # 경기 수가 pred_num의 2배보다 적으면 삭제 (학습할 경기 수 >= 예측할 경기 수)
        if len(pl_data) < pred_num*2:
            print('{}은/는 경기 수가 {}보다 작기 때문에 삭제'.format(player, pred_num*2))
            pass

        else:
            # 날짜순으로 정렬
            pl_data = pl_data.sort_values('day').reset_index(drop=True)

            # pred_num을 뺀 만큼의 경기를 랜덤으로 추출해서 tr_data에 저장
            tr_data = pl_data.sample(n=len(pl_data) - pred_num, random_state=seed)
            # 추출된 인덱스 저장
            tr_idx = list(tr_data.index)

            # 마스킹(제외)된 경기들을 ts_data에 저장
            ts_data = pl_data.drop(tr_idx)

            # tr_data의 타겟 칼럼을 모두 합해서 저장
            sum_data = tr_data.iloc[:, target_col].sum()
            # 어떤 선수인지 저장 (name -> pcode)
            sum_data['name'] = player
            
            # ts_data의 성적들로 avg, slg, obp, ops 라벨 생성
            ts_sum = ts_data.iloc[:, target_col].sum()
            sum_data['avg_label'] = ts_sum['hit'] / ts_sum['ab']
            sum_data['slg_label'] = ts_sum['tb'] / ts_sum['ab']
            sum_data['obp_label'] = (ts_sum['hit'] + ts_sum['bb'] + ts_sum['hpp']) / (ts_sum['ab'] +  ts_sum['bb'] + ts_sum['hpp'] + ts_sum['sf'])
            sum_data['ops_label'] = sum_data['slg_label'] + sum_data['obp_label']

            # Series 데이터를 DataFrame 형식으로 변환
            sum_result = sum_data.to_frame().transpose()

            # 이 선수 데이터를 전체 데이터셋에 추가
            split_result = pd.concat([split_result, sum_result])
    
    # 데이터셋 인덱스 초기화
    split_result = split_result.reset_index(drop=True)
    
    return split_result

In [51]:
last_split(df = df, start_date = '0301', train_num = 30, pred_num = 10)

김태훈은/는 경기 수가 40보다 작기 때문에 삭제
김도환은/는 경기 수가 40보다 작기 때문에 삭제
이현석은/는 경기 수가 40보다 작기 때문에 삭제
오명진은/는 경기 수가 40보다 작기 때문에 삭제
김윤수은/는 경기 수가 40보다 작기 때문에 삭제
김재현은/는 경기 수가 40보다 작기 때문에 삭제
민병헌은/는 경기 수가 40보다 작기 때문에 삭제
최보성은/는 경기 수가 40보다 작기 때문에 삭제
최정용은/는 경기 수가 40보다 작기 때문에 삭제
김응민은/는 경기 수가 40보다 작기 때문에 삭제
허관회은/는 경기 수가 40보다 작기 때문에 삭제
변상권은/는 경기 수가 40보다 작기 때문에 삭제
예진원은/는 경기 수가 40보다 작기 때문에 삭제
김호은은/는 경기 수가 40보다 작기 때문에 삭제
김창평은/는 경기 수가 40보다 작기 때문에 삭제
김주현은/는 경기 수가 40보다 작기 때문에 삭제
최항은/는 경기 수가 40보다 작기 때문에 삭제
김건형은/는 경기 수가 40보다 작기 때문에 삭제
강태율은/는 경기 수가 40보다 작기 때문에 삭제
허정협은/는 경기 수가 40보다 작기 때문에 삭제
백동훈은/는 경기 수가 40보다 작기 때문에 삭제
박정우은/는 경기 수가 40보다 작기 때문에 삭제
이진영은/는 경기 수가 40보다 작기 때문에 삭제
박주홍은/는 경기 수가 40보다 작기 때문에 삭제
이호연은/는 경기 수가 40보다 작기 때문에 삭제
강상원은/는 경기 수가 40보다 작기 때문에 삭제
유원상은/는 경기 수가 40보다 작기 때문에 삭제
이창재은/는 경기 수가 40보다 작기 때문에 삭제
강로한은/는 경기 수가 40보다 작기 때문에 삭제
최정민은/는 경기 수가 40보다 작기 때문에 삭제
유장혁은/는 경기 수가 40보다 작기 때문에 삭제
황경태은/는 경기 수가 40보다 작기 때문에 삭제
노태형은/는 경기 수가 40보다 작기 때문에 삭제
모창민은/는 경기 수가 40보다 작기 때문에 삭제
보어은/는 경기 수가 40보다 작기 때문에 삭제
남호은/는 경기 수가 40보다 작기 때문에 삭제
박승욱은/는 경기 수가 40보다 작기 때문에 삭제
김규성은/는 경기 수가 40보다 작기 때문에 삭제
홍현빈은/는 경기 수가 40보다 작기 때문에 삭제
임종찬은/는 경기 수가 40보다 작기 때문에 삭제
손호영은/는 경기 수가 40보다 작기 때문에 삭제
이재익은/는 경기 수가 40보다 작기 때문에 삭제
고명준은/는 경기 수가 40보다 작기 때문에 삭제
김준완은/는 경기 수가 40보다 작기 때문에 삭제
이원재은/는 경기 수가 40보다 작기 때문에 삭제
이정훈은/는 경기 수가 40보다 작기 때문에 삭제
김성표은/는 경기 수가 40보다 작기 때문에 삭제
호잉은/는 경기 수가 40보다 작기 때문에 삭제
이승진은/는 경기 수가 40보다 작기 때문에 삭제
노성호은/는 경기 수가 40보다 작기 때문에 삭제
이정용은/는 경기 수가 40보다 작기 때문에 삭제
한석현은/는 경기 수가 40보다 작기 때문에 삭제
안상현은/는 경기 수가 40보다 작기 때문에 삭제
신준우은/는 경기 수가 40보다 작기 때문에 삭제
장준원은/는 경기 수가 40보다 작기 때문에 삭제
신성현은/는 경기 수가 40보다 작기 때문에 삭제
김주형은/는 경기 수가 40보다 작기 때문에 삭제
장두성은/는 경기 수가 40보다 작기 때문에 삭제
최정원은/는 경기 수가 40보다 작기 때문에 삭제
백용환은/는 경기 수가 40보다 작기 때문에 삭제
박민은/는 경기 수가 40보다 작기 때문에 삭제
이상호은/는 경기 수가 40보다 작기 때문에 삭제
전민재은/는 경기 수가 40보다 작기 때문에 삭제
정우람은/는 경기 수가 40보다 작기 때문에 삭제
오준혁은/는 경기 수가 40보다 작기 때문에 삭제
심재민은/는 경기 수가 40보다 작기 때문에 삭제
김기환은/는 경기 수가 40보다 작기 때문에 삭제
김주원은/는 경기 수가 40보다 작기 때문에 삭제
오선우은/는 경기 수가 40보다 작기 때문에 삭제
노수광은/는 경기 수가 40보다 작기 때문에 삭제
송성문은/는 경기 수가 40보다 작기 때문에 삭제
이성우은/는 경기 수가 40보다 작기 때문에 삭제
이해창은/는 경기 수가 40보다 작기 때문에 삭제
안중열은/는 경기 수가 40보다 작기 때문에 삭제
송준석은/는 경기 수가 40보다 작기 때문에 삭제
김수환은/는 경기 수가 40보다 작기 때문에 삭제
오승환은/는 경기 수가 40보다 작기 때문에 삭제
서진용은/는 경기 수가 40보다 작기 때문에 삭제
김규남은/는 경기 수가 40보다 작기 때문에 삭제
나승엽은/는 경기 수가 40보다 작기 때문에 삭제
박대온은/는 경기 수가 40보다 작기 때문에 삭제
이병규은/는 경기 수가 40보다 작기 때문에 삭제
박준태은/는 경기 수가 40보다 작기 때문에 삭제
최민재은/는 경기 수가 40보다 작기 때문에 삭제
송재영은/는 경기 수가 40보다 작기 때문에 삭제
정보근은/는 경기 수가 40보다 작기 때문에 삭제
천성호은/는 경기 수가 40보다 작기 때문에 삭제
김지수은/는 경기 수가 40보다 작기 때문에 삭제
전민수은/는 경기 수가 40보다 작기 때문에 삭제
안익훈은/는 경기 수가 40보다 작기 때문에 삭제
황윤호은/는 경기 수가 40보다 작기 때문에 삭제
김은성은/는 경기 수가 40보다 작기 때문에 삭제
최인호은/는 경기 수가 40보다 작기 때문에 삭제
나원탁은/는 경기 수가 40보다 작기 때문에 삭제
서예일은/는 경기 수가 40보다 작기 때문에 삭제
윤형준은/는 경기 수가 40보다 작기 때문에 삭제
권혁경은/는 경기 수가 40보다 작기 때문에 삭제
윤명준은/는 경기 수가 40보다 작기 때문에 삭제
강민국은/는 경기 수가 40보다 작기 때문에 삭제
정범모은/는 경기 수가 40보다 작기 때문에 삭제
신용수은/는 경기 수가 40보다 작기 때문에 삭제
이우성은/는 경기 수가 40보다 작기 때문에 삭제
최승민은/는 경기 수가 40보다 작기 때문에 삭제
정해영은/는 경기 수가 40보다 작기 때문에 삭제
최영진은/는 경기 수가 40보다 작기 때문에 삭제
크레익은/는 경기 수가 40보다 작기 때문에 삭제
유서준은/는 경기 수가 40보다 작기 때문에 삭제
이태훈은/는 경기 수가 40보다 작기 때문에 삭제
정상호은/는 경기 수가 40보다 작기 때문에 삭제
손성빈은/는 경기 수가 40보다 작기 때문에 삭제
지석훈은/는 경기 수가 40보다 작기 때문에 삭제
국해성은/는 경기 수가 40보다 작기 때문에 삭제
이주형은/는 경기 수가 40보다 작기 때문에 삭제
김태연은/는 경기 수가 40보다 작기 때문에 삭제
김휘집은/는 경기 수가 40보다 작기 때문에 삭제
이영빈은/는 경기 수가 40보다 작기 때문에 삭제
하재훈은/는 경기 수가 40보다 작기 때문에 삭제
김병휘은/는 경기 수가 40보다 작기 때문에 삭제
김병희은/는 경기 수가 40보다 작기 때문에 삭제
나지완은/는 경기 수가 40보다 작기 때문에 삭제
임지열은/는 경기 수가 40보다 작기 때문에 삭제
김주성은/는 경기 수가 40보다 작기 때문에 삭제
이재율은/는 경기 수가 40보다 작기 때문에 삭제
문찬종은/는 경기 수가 40보다 작기 때문에 삭제
이주찬은/는 경기 수가 40보다 작기 때문에 삭제
이동훈은/는 경기 수가 40보다 작기 때문에 삭제
페레즈은/는 경기 수가 40보다 작기 때문에 삭제
안영명은/는 경기 수가 40보다 작기 때문에 삭제
장현식은/는 경기 수가 40보다 작기 때문에 삭제
유민상은/는 경기 수가 40보다 작기 때문에 삭제
권정웅은/는 경기 수가 40보다 작기 때문에 삭제
이도윤은/는 경기 수가 40보다 작기 때문에 삭제
이홍구은/는 경기 수가 40보다 작기 때문에 삭제
신민재은/는 경기 수가 40보다 작기 때문에 삭제
김진수은/는 경기 수가 40보다 작기 때문에 삭제
장지승은/는 경기 수가 40보다 작기 때문에 삭제
문대원은/는 경기 수가 40보다 작기 때문에 삭제
권민석은/는 경기 수가 40보다 작기 때문에 삭제
김성윤은/는 경기 수가 40보다 작기 때문에 삭제
남태혁은/는 경기 수가 40보다 작기 때문에 삭제
나주환은/는 경기 수가 40보다 작기 때문에 삭제
박정현은/는 경기 수가 40보다 작기 때문에 삭제

      ab score hit 2_hit 3_hit  ... name avg_label slg_label obp_label ops_label
0     76    11  18     6     0  ...  이학주  0.310345  0.448276  0.333333  0.781609
1     78     9  20     7     0  ...  문보경  0.315789  0.710526  0.365854   1.07638
2     63    12  19     0     2  ...  김민혁       0.2       0.2  0.304348  0.504348
3    117     8  29     5     1  ...   힐리     0.375     0.625  0.444444   1.06944
4    106    20  39     7     0  ...  박건우   0.27027  0.324324  0.372093  0.696417
..   ...   ...  ..   ...   ...  ...  ...       ...       ...       ...       ...
134  110    27  32     6     1  ...  하주석  0.268293  0.292683  0.318182  0.610865
135   84    12  20     5     2  ...  조한민    0.0625    0.0625  0.166667  0.229167
136   66    10  20     1     2  ...  안재석      0.36      0.52      0.36      0.88
137   46     7   7     0     0  ...  도태훈  0.333333       0.5  0.428571  0.928571
138  102    20  29     5     1  ...  정은원  0.257143  0.371429  0.380952  0.752381

[139 rows x 24 columns]

In [52]:
random_split(df = df, seed = 1004, pred_num = 30)

김태훈은/는 경기 수가 60보다 작기 때문에 삭제
이학주은/는 경기 수가 60보다 작기 때문에 삭제
김도환은/는 경기 수가 60보다 작기 때문에 삭제
김민혁은/는 경기 수가 60보다 작기 때문에 삭제
이현석은/는 경기 수가 60보다 작기 때문에 삭제
오명진은/는 경기 수가 60보다 작기 때문에 삭제
김윤수은/는 경기 수가 60보다 작기 때문에 삭제
김재현은/는 경기 수가 60보다 작기 때문에 삭제
민병헌은/는 경기 수가 60보다 작기 때문에 삭제
황대인은/는 경기 수가 60보다 작기 때문에 삭제
오재원은/는 경기 수가 60보다 작기 때문에 삭제
최보성은/는 경기 수가 60보다 작기 때문에 삭제
최정용은/는 경기 수가 60보다 작기 때문에 삭제
배성근은/는 경기 수가 60보다 작기 때문에 삭제
김응민은/는 경기 수가 60보다 작기 때문에 삭제
허관회은/는 경기 수가 60보다 작기 때문에 삭제
변상권은/는 경기 수가 60보다 작기 때문에 삭제
예진원은/는 경기 수가 60보다 작기 때문에 삭제
이명기은/는 경기 수가 60보다 작기 때문에 삭제
김호은은/는 경기 수가 60보다 작기 때문에 삭제
김창평은/는 경기 수가 60보다 작기 때문에 삭제
김주현은/는 경기 수가 60보다 작기 때문에 삭제
최항은/는 경기 수가 60보다 작기 때문에 삭제
김건형은/는 경기 수가 60보다 작기 때문에 삭제
강태율은/는 경기 수가 60보다 작기 때문에 삭제
허정협은/는 경기 수가 60보다 작기 때문에 삭제
백동훈은/는 경기 수가 60보다 작기 때문에 삭제
류지혁은/는 경기 수가 60보다 작기 때문에 삭제
박정우은/는 경기 수가 60보다 작기 때문에 삭제
이진영은/는 경기 수가 60보다 작기 때문에 삭제
박주홍은/는 경기 수가 60보다 작기 때문에 삭제
이호연은/는 경기 수가 60보다 작기 때문에 삭제
박석민은/는 경기 수가 60보다 작기 때문에 삭제
김준태은/는 경기 수가 60보다 작기 때문에 삭제
강상원은/는 경기 수가 60보다 작기 때문에 삭제
라모스은/는 경기 수가 60보다 작기 때문에 삭제
유원상은/는 경기 수가 60보다 작기 때문에 삭제
이창재은/는 경기 수가 60보다 작기 때문에 삭제
강로한은/는 경기 수가 60보다 작기 때문에 삭제
최정민은/는 경기 수가 60보다 작기 때문에 삭제
유장혁은/는 경기 수가 60보다 작기 때문에 삭제
황경태은/는 경기 수가 60보다 작기 때문에 삭제
노태형은/는 경기 수가 60보다 작기 때문에 삭제
모창민은/는 경기 수가 60보다 작기 때문에 삭제
보어은/는 경기 수가 60보다 작기 때문에 삭제
남호은/는 경기 수가 60보다 작기 때문에 삭제
박승욱은/는 경기 수가 60보다 작기 때문에 삭제
박민우은/는 경기 수가 60보다 작기 때문에 삭제
김규성은/는 경기 수가 60보다 작기 때문에 삭제
정진호은/는 경기 수가 60보다 작기 때문에 삭제
홍현빈은/는 경기 수가 60보다 작기 때문에 삭제
임종찬은/는 경기 수가 60보다 작기 때문에 삭제
손호영은/는 경기 수가 60보다 작기 때문에 삭제
이재익은/는 경기 수가 60보다 작기 때문에 삭제
고명준은/는 경기 수가 60보다 작기 때문에 삭제
김재호은/는 경기 수가 60보다 작기 때문에 삭제
김준완은/는 경기 수가 60보다 작기 때문에 삭제
이원재은/는 경기 수가 60보다 작기 때문에 삭제
이정훈은/는 경기 수가 60보다 작기 때문에 삭제
김성표은/는 경기 수가 60보다 작기 때문에 삭제
이성곤은/는 경기 수가 60보다 작기 때문에 삭제
호잉은/는 경기 수가 60보다 작기 때문에 삭제
이승진은/는 경기 수가 60보다 작기 때문에 삭제
노성호은/는 경기 수가 60보다 작기 때문에 삭제
이정용은/는 경기 수가 60보다 작기 때문에 삭제
정수빈은/는 경기 수가 60보다 작기 때문에 삭제
한석현은/는 경기 수가 60보다 작기 때문에 삭제
안상현은/는 경기 수가 60보다 작기 때문에 삭제
김재성은/는 경기 수가 60보다 작기 때문에 삭제
신준우은/는 경기 수가 60보다 작기 때문에 삭제
장준원은/는 경기 수가 60보다 작기 때문에 삭제
신성현은/는 경기 수가 60보다 작기 때문에 삭제
김주형은/는 경기 수가 60보다 작기 때문에 삭제
장두성은/는 경기 수가 60보다 작기 때문에 삭제
최정원은/는 경기 수가 60보다 작기 때문에 삭제
안권수은/는 경기 수가 60보다 작기 때문에 삭제
백용환은/는 경기 수가 60보다 작기 때문에 삭제
박민은/는 경기 수가 60보다 작기 때문에 삭제
이상호은/는 경기 수가 60보다 작기 때문에 삭제
전민재은/는 경기 수가 60보다 작기 때문에 삭제
문상철은/는 경기 수가 60보다 작기 때문에 삭제
정우람은/는 경기 수가 60보다 작기 때문에 삭제
오준혁은/는 경기 수가 60보다 작기 때문에 삭제
심재민은/는 경기 수가 60보다 작기 때문에 삭제
신본기은/는 경기 수가 60보다 작기 때문에 삭제
김기환은/는 경기 수가 60보다 작기 때문에 삭제
김주원은/는 경기 수가 60보다 작기 때문에 삭제
오선우은/는 경기 수가 60보다 작기 때문에 삭제
노수광은/는 경기 수가 60보다 작기 때문에 삭제
송성문은/는 경기 수가 60보다 작기 때문에 삭제
이성우은/는 경기 수가 60보다 작기 때문에 삭제
이해창은/는 경기 수가 60보다 작기 때문에 삭제
안중열은/는 경기 수가 60보다 작기 때문에 삭제
송준석은/는 경기 수가 60보다 작기 때문에 삭제
김수환은/는 경기 수가 60보다 작기 때문에 삭제
오승환은/는 경기 수가 60보다 작기 때문에 삭제
서진용은/는 경기 수가 60보다 작기 때문에 삭제
김규남은/는 경기 수가 60보다 작기 때문에 삭제
나승엽은/는 경기 수가 60보다 작기 때문에 삭제
최용제은/는 경기 수가 60보다 작기 때문에 삭제
강경학은/는 경기 수가 60보다 작기 때문에 삭제
박대온은/는 경기 수가 60보다 작기 때문에 삭제
이병규은/는 경기 수가 60보다 작기 때문에 삭제
박준태은/는 경기 수가 60보다 작기 때문에 삭제
최민재은/는 경기 수가 60보다 작기 때문에 삭제
송재영은/는 경기 수가 60보다 작기 때문에 삭제
정보근은/는 경기 수가 60보다 작기 때문에 삭제
천성호은/는 경기 수가 60보다 작기 때문에 삭제
김지수은/는 경기 수가 60보다 작기 때문에 삭제
전민수은/는 경기 수가 60보다 작기 때문에 삭제
안익훈은/는 경기 수가 60보다 작기 때문에 삭제
황윤호은/는 경기 수가 60보다 작기 때문에 삭제
김은성은/는 경기 수가 60보다 작기 때문에 삭제
최인호은/는 경기 수가 60보다 작기 때문에 삭제
나원탁은/는 경기 수가 60보다 작기 때문에 삭제
김호재은/는 경기 수가 60보다 작기 때문에 삭제
서예일은/는 경기 수가 60보다 작기 때문에 삭제
윤형준은/는 경기 수가 60보다 작기 때문에 삭제
김재유은/는 경기 수가 60보다 작기 때문에 삭제
권희동은/는 경기 수가 60보다 작기 때문에 삭제
김호령은/는 경기 수가 60보다 작기 때문에 삭제
권혁경은/는 경기 수가 60보다 작기 때문에 삭제
윤명준은/는 경기 수가 60보다 작기 때문에 삭제
김민하은/는 경기 수가 60보다 작기 때문에 삭제
강민국은/는 경기 수가 60보다 작기 때문에 삭제
정범모은/는 경기 수가 60보다 작기 때문에 삭제
신용수은/는 경기 수가 60보다 작기 때문에 삭제
이우성은/는 경기 수가 60보다 작기 때문에 삭제
최승민은/는 경기 수가 60보다 작기 때문에 삭제
정해영은/는 경기 수가 60보다 작기 때문에 삭제
최영진은/는 경기 수가 60보다 작기 때문에 삭제
크레익은/는 경기 수가 60보다 작기 때문에 삭제
유서준은/는 경기 수가 60보다 작기 때문에 삭제
이태훈은/는 경기 수가 60보다 작기 때문에 삭제
박승규은/는 경기 수가 60보다 작기 때문에 삭제
정상호은/는 경기 수가 60보다 작기 때문에 삭제
손성빈은/는 경기 수가 60보다 작기 때문에 삭제
지석훈은/는 경기 수가 60보다 작기 때문에 삭제
국해성은/는 경기 수가 60보다 작기 때문에 삭제
이주형은/는 경기 수가 60보다 작기 때문에 삭제
김태연은/는 경기 수가 60보다 작기 때문에 삭제
이성열은/는 경기 수가 60보다 작기 때문에 삭제
김휘집은/는 경기 수가 60보다 작기 때문에 삭제
이영빈은/는 경기 수가 60보다 작기 때문에 삭제
하재훈은/는 경기 수가 60보다 작기 때문에 삭제
김병휘은/는 경기 수가 60보다 작기 때문에 삭제
김병희은/는 경기 수가 60보다 작기 때문에 삭제
박세혁은/는 경기 수가 60보다 작기 때문에 삭제
나지완은/는 경기 수가 60보다 작기 때문에 삭제
임지열은/는 경기 수가 60보다 작기 때문에 삭제
김주성은/는 경기 수가 60보다 작기 때문에 삭제
한승택은/는 경기 수가 60보다 작기 때문에 삭제
지시완은/는 경기 수가 60보다 작기 때문에 삭제
박정음은/는 경기 수가 60보다 작기 때문에 삭제
이재율은/는 경기 수가 60보다 작기 때문에 삭제
문찬종은/는 경기 수가 60보다 작기 때문에 삭제
이주찬은/는 경기 수가 60보다 작기 때문에 삭제
이동훈은/는 경기 수가 60보다 작기 때문에 삭제
페레즈은/는 경기 수가 60보다 작기 때문에 삭제
안영명은/는 경기 수가 60보다 작기 때문에 삭제
장현식은/는 경기 수가 60보다 작기 때문에 삭제
허도환은/는 경기 수가 60보다 작기 때문에 삭제
유민상은/는 경기 수가 60보다 작기 때문에 삭제
권정웅은/는 경기 수가 60보다 작기 때문에 삭제
이도윤은/는 경기 수가 60보다 작기 때문에 삭제
이홍구은/는 경기 수가 60보다 작기 때문에 삭제
신민재은/는 경기 수가 60보다 작기 때문에 삭제
김진수은/는 경기 수가 60보다 작기 때문에 삭제
장지승은/는 경기 수가 60보다 작기 때문에 삭제
문대원은/는 경기 수가 60보다 작기 때문에 삭제
프레이타스은/는 경기 수가 60보다 작기 때문에 삭제
권민석은/는 경기 수가 60보다 작기 때문에 삭제
김성윤은/는 경기 수가 60보다 작기 때문에 삭제
남태혁은/는 경기 수가 60보다 작기 때문에 삭제
김동엽은/는 경기 수가 60보다 작기 때문에 삭제
나주환은/는 경기 수가 60보다 작기 때문에 삭제
조한민은/는 경기 수가 60보다 작기 때문에 삭제
도태훈은/는 경기 수가 60보다 작기 때문에 삭제
박정현은/는 경기 수가 60보다 작기 때문에 삭제

      ab score hit 2_hit 3_hit  ... name avg_label slg_label obp_label ops_label
0    104    13  24     4     1  ...  문보경  0.247191  0.505618  0.376147  0.881765
1    138    15  31     7     0  ...   힐리  0.297297  0.486486  0.357724   0.84421
2    184    32  62    13     0  ...  박건우  0.306306  0.414414     0.384  0.798414
3     97    11  19     7     0  ...  김웅빈  0.264368  0.413793  0.396226   0.81002
4    108    18  25     5     1  ...  최형우  0.230088  0.318584  0.350746   0.66933
..   ...   ...  ..   ...   ...  ...  ...       ...       ...       ...       ...
97   108    20  23     1     1  ...  김강민  0.296875  0.484375  0.407895   0.89227
98   131    22  25     3     0  ...  정진기  0.277108  0.445783  0.310345  0.756128
99   248    32  69    12     2  ...  하주석  0.279661  0.432203  0.358209  0.790412
100   90     8  22     2     0  ...  안재석  0.278689  0.459016  0.333333   0.79235
101  254    42  68     9     3  ...  정은원  0.307692  0.413462  0.420635  0.834096

[102 rows x 24 columns]