<a href="https://colab.research.google.com/github/KimGriezmann/Bigcontest_2021/blob/master/working_space_SeongGwan/split_coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt 

plt.rc('font', family='NanumBarunGothic')

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
def create_df():

  #연도별 데이터 경로
  HTS_dir = '/content/drive/MyDrive/빅콘테스트/01_제공데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_HTS'
  Player_dir = '/content/drive/MyDrive/빅콘테스트/01_제공데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_선수'
  Hitter_dir = '/content/drive/MyDrive/빅콘테스트/01_제공데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_타자 기본'
  #단일 데이터 경로
  Team_dir = '/content/drive/MyDrive/빅콘테스트/01_제공데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_팀.csv'
  Schedule_dir = '/content/drive/MyDrive/빅콘테스트/01_제공데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_경기일정_2021.csv'
  val_dir = '/content/drive/MyDrive/빅콘테스트/02_평가데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_평가데이터.xlsx'

  year = [2018, 2019, 2020, 2021]

  for i in year:
    globals()['HTS_{}'.format(i)]     = pd.read_csv(HTS_dir + '_' + str(i) + '.csv', encoding='CP949')
    globals()['Player_{}'.format(i)]  = pd.read_csv(Player_dir + '_' + str(i) + '.csv', encoding='CP949')
    globals()['Hitter_{}'.format(i)]  = pd.read_csv(Hitter_dir + '_' + str(i) + '.csv', encoding='CP949')

  global Team_df, Schedule_df, val_df
  Team_df = pd.read_csv(Team_dir, encoding='CP949')
  Schedule_df = pd.read_csv(Schedule_dir, encoding='CP949')
  val_df = pd.read_excel(val_dir)

######################

#연도별 데이터 하나로 통합
def concat_df():
  df_list = ['HTS', 'Player', 'Hitter']

#각 칼럼이 모두 같은지 검사 후 통합
  for i in df_list:
    if ((globals()['{}_2018'.format(i)].columns == globals()['{}_2019'.format(i)].columns).all()) and ((globals()['{}_2019'.format(i)].columns == globals()['{}_2020'.format(i)].columns).all()) and \
    ((globals()['{}_2020'.format(i)].columns == globals()['{}_2021'.format(i)].columns).all()):
      globals()['{}_df'.format(i)] = pd.concat( [ globals()['{}_2018'.format(i)], globals()['{}_2019'.format(i)], globals()['{}_2020'.format(i)], globals()['{}_2021'.format(i) ] ] )

#연도별 길이의 합이 통합된 데이터의 길이와 같은지 검사
  for i in df_list:
    if len(globals()['{}_2018'.format(i)]) + len(globals()['{}_2019'.format(i)]) + len(globals()['{}_2020'.format(i)]) + len(globals()['{}_2021'.format(i)]) == len(globals()['{}_df'.format(i)]):
      print('{} is complete!'.format(i))

######################

create_df()
concat_df()

HTS is complete!
Player is complete!
Hitter is complete!

In [31]:
df = pd.read_csv('/content/drive/MyDrive/빅콘테스트/ops_data_2021.csv', encoding='CP949')
df['day'] = df['day'].apply(lambda x: int(x.replace('-', '')))

df.head()

  name  day   vs result  bat_order  ...    ops  pitch  avLI  RE24    WPA
0  강백호  404   한화  W 3:2          4  ...  1.417     16  1.14  0.89  0.122
1  강백호  406   LG  L 2:3          4  ...  0.661     14  2.07 -1.00 -0.183
2  강백호  407   LG  W 7:3          4  ...  0.993     17  1.43  1.75  0.330
3  강백호  408   LG  L 3:7          4  ...  0.996     17  0.89 -0.76 -0.102
4  강백호  409  @삼성  L 5:7          4  ...  1.145     21  0.94  1.88 -0.122

[5 rows x 32 columns]

In [128]:
hitter_list = list(set(df['name']))

def last_split(start_date, train_num, pred_num):
    
    later_df = df[ df['day']  >= int(start_date) ]
    split_result = pd.DataFrame()
    
    for player in hitter_list:
        pl_data = later_df[later_df['name'] == player]

        if len(pl_data) < train_num:
            print('{}은/는 경기 수가 {}보다 작기 때문에 삭제'.format(player, train_num))
            pass

        else:
            pl_data = pl_data.sort_values('day').reset_index(drop=True)

            tr_data = pl_data[:train_num]
            ts_data = pl_data[train_num:train_num+pred_num]

            sum_data = tr_data.iloc[:, 7:23].sum()
            sum_data['name'] = player
            sum_data['last_date'] = tr_data['day'].iloc[-1]

            sum_data['label'] = ts_data['ops'].mean()

            sum_result = sum_data.to_frame().transpose()

            split_result = pd.concat([split_result, sum_result])
    
    split_result = split_result.reset_index(drop=True)
    
    return split_result



def random_split(seed, pred_num):
    
    split_result = pd.DataFrame()
    
    for player in hitter_list:
        pl_data = df[df['name'] == player].reset_index(drop=True)

        if len(pl_data) < pred_num*2:
            print('{}은/는 경기 수가 {}보다 작기 때문에 삭제'.format(player, pred_num*2))
            pass

        else:
            pl_data = pl_data.sort_values('day').reset_index(drop=True)

            tr_data = pl_data.sample(n=len(pl_data) - pred_num, random_state=seed)
            tr_idx = list(tr_data.index)

            ts_data = pl_data.drop(tr_idx)

            sum_data = tr_data.iloc[:, 7:23].sum()
            sum_data['name'] = player

            sum_data['label'] = ts_data['ops'].mean()

            sum_result = sum_data.to_frame().transpose()

            split_result = pd.concat([split_result, sum_result])
    
    split_result = split_result.reset_index(drop=True)
    
    return split_result

In [131]:
last_split(start_date = '0301', train_num = 30, pred_num = 10)

권혁경은/는 경기 수가 30보다 작기 때문에 삭제
한석현은/는 경기 수가 30보다 작기 때문에 삭제
황윤호은/는 경기 수가 30보다 작기 때문에 삭제
문대원은/는 경기 수가 30보다 작기 때문에 삭제
이재율은/는 경기 수가 30보다 작기 때문에 삭제
이현석은/는 경기 수가 30보다 작기 때문에 삭제
남태혁은/는 경기 수가 30보다 작기 때문에 삭제
김병휘은/는 경기 수가 30보다 작기 때문에 삭제
윤형준은/는 경기 수가 30보다 작기 때문에 삭제
백동훈은/는 경기 수가 30보다 작기 때문에 삭제
박승욱은/는 경기 수가 30보다 작기 때문에 삭제
유민상은/는 경기 수가 30보다 작기 때문에 삭제
이해창은/는 경기 수가 30보다 작기 때문에 삭제
이성우은/는 경기 수가 30보다 작기 때문에 삭제
오승환은/는 경기 수가 30보다 작기 때문에 삭제
강민국은/는 경기 수가 30보다 작기 때문에 삭제
민병헌은/는 경기 수가 30보다 작기 때문에 삭제
이태훈은/는 경기 수가 30보다 작기 때문에 삭제
김은성은/는 경기 수가 30보다 작기 때문에 삭제
안익훈은/는 경기 수가 30보다 작기 때문에 삭제
김성표은/는 경기 수가 30보다 작기 때문에 삭제
김윤수은/는 경기 수가 30보다 작기 때문에 삭제
나승엽은/는 경기 수가 30보다 작기 때문에 삭제
최민재은/는 경기 수가 30보다 작기 때문에 삭제
이창재은/는 경기 수가 30보다 작기 때문에 삭제
장현식은/는 경기 수가 30보다 작기 때문에 삭제
지석훈은/는 경기 수가 30보다 작기 때문에 삭제
최정용은/는 경기 수가 30보다 작기 때문에 삭제
오준혁은/는 경기 수가 30보다 작기 때문에 삭제
문찬종은/는 경기 수가 30보다 작기 때문에 삭제
국해성은/는 경기 수가 30보다 작기 때문에 삭제
강로한은/는 경기 수가 30보다 작기 때문에 삭제
이재익은/는 경기 수가 30보다 작기 때문에 삭제
유원상은/는 경기 수가 30보다 작기 때문에 삭제
김태연은/는 경기 수가 30보다 작기 때문에 삭제
김건형은/는 경기 수가 30보다 작기 때문에 삭제
장준원은/는 경기 수가 30보다 작기 때문에 삭제
안상현은/는 경기 수가 30보다 작기 때문에 삭제
최보성은/는 경기 수가 30보다 작기 때문에 삭제
김준완은/는 경기 수가 30보다 작기 때문에 삭제
김진수은/는 경기 수가 30보다 작기 때문에 삭제
강상원은/는 경기 수가 30보다 작기 때문에 삭제
김재현은/는 경기 수가 30보다 작기 때문에 삭제
김응민은/는 경기 수가 30보다 작기 때문에 삭제
이상호은/는 경기 수가 30보다 작기 때문에 삭제
김규남은/는 경기 수가 30보다 작기 때문에 삭제
전민재은/는 경기 수가 30보다 작기 때문에 삭제
오명진은/는 경기 수가 30보다 작기 때문에 삭제
천성호은/는 경기 수가 30보다 작기 때문에 삭제
김성윤은/는 경기 수가 30보다 작기 때문에 삭제
허정협은/는 경기 수가 30보다 작기 때문에 삭제
장두성은/는 경기 수가 30보다 작기 때문에 삭제
나주환은/는 경기 수가 30보다 작기 때문에 삭제
정해영은/는 경기 수가 30보다 작기 때문에 삭제
신민재은/는 경기 수가 30보다 작기 때문에 삭제
예진원은/는 경기 수가 30보다 작기 때문에 삭제
신성현은/는 경기 수가 30보다 작기 때문에 삭제
홍현빈은/는 경기 수가 30보다 작기 때문에 삭제
박정우은/는 경기 수가 30보다 작기 때문에 삭제
김주성은/는 경기 수가 30보다 작기 때문에 삭제
권민석은/는 경기 수가 30보다 작기 때문에 삭제
송준석은/는 경기 수가 30보다 작기 때문에 삭제
안영명은/는 경기 수가 30보다 작기 때문에 삭제
노성호은/는 경기 수가 30보다 작기 때문에 삭제
강태율은/는 경기 수가 30보다 작기 때문에 삭제
김휘집은/는 경기 수가 30보다 작기 때문에 삭제
나지완은/는 경기 수가 30보다 작기 때문에 삭제
최항은/는 경기 수가 30보다 작기 때문에 삭제
김도환은/는 경기 수가 30보다 작기 때문에 삭제
최영진은/는 경기 수가 30보다 작기 때문에 삭제
모창민은/는 경기 수가 30보다 작기 때문에 삭제
임지열은/는 경기 수가 30보다 작기 때문에 삭제
호잉은/는 경기 수가 30보다 작기 때문에 삭제
서진용은/는 경기 수가 30보다 작기 때문에 삭제
페레즈은/는 경기 수가 30보다 작기 때문에 삭제
김창평은/는 경기 수가 30보다 작기 때문에 삭제
이병규은/는 경기 수가 30보다 작기 때문에 삭제
이주형은/는 경기 수가 30보다 작기 때문에 삭제
정상호은/는 경기 수가 30보다 작기 때문에 삭제
이진영은/는 경기 수가 30보다 작기 때문에 삭제
최정민은/는 경기 수가 30보다 작기 때문에 삭제
장지승은/는 경기 수가 30보다 작기 때문에 삭제
이정용은/는 경기 수가 30보다 작기 때문에 삭제
박주홍은/는 경기 수가 30보다 작기 때문에 삭제
송재영은/는 경기 수가 30보다 작기 때문에 삭제
손호영은/는 경기 수가 30보다 작기 때문에 삭제
최승민은/는 경기 수가 30보다 작기 때문에 삭제
허관회은/는 경기 수가 30보다 작기 때문에 삭제
정보근은/는 경기 수가 30보다 작기 때문에 삭제
박민은/는 경기 수가 30보다 작기 때문에 삭제
김지수은/는 경기 수가 30보다 작기 때문에 삭제
이호연은/는 경기 수가 30보다 작기 때문에 삭제
김주현은/는 경기 수가 30보다 작기 때문에 삭제
최정원은/는 경기 수가 30보다 작기 때문에 삭제
김주원은/는 경기 수가 30보다 작기 때문에 삭제
박준태은/는 경기 수가 30보다 작기 때문에 삭제
이주찬은/는 경기 수가 30보다 작기 때문에 삭제
정우람은/는 경기 수가 30보다 작기 때문에 삭제
이동훈은/는 경기 수가 30보다 작기 때문에 삭제
손성빈은/는 경기 수가 30보다 작기 때문에 삭제
김주형은/는 경기 수가 30보다 작기 때문에 삭제
김수환은/는 경기 수가 30보다 작기 때문에 삭제
심재민은/는 경기 수가 30보다 작기 때문에 삭제
윤명준은/는 경기 수가 30보다 작기 때문에 삭제
박대온은/는 경기 수가 30보다 작기 때문에 삭제
유서준은/는 경기 수가 30보다 작기 때문에 삭제
정범모은/는 경기 수가 30보다 작기 때문에 삭제
서예일은/는 경기 수가 30보다 작기 때문에 삭제
안중열은/는 경기 수가 30보다 작기 때문에 삭제
송성문은/는 경기 수가 30보다 작기 때문에 삭제
김기환은/는 경기 수가 30보다 작기 때문에 삭제
고명준은/는 경기 수가 30보다 작기 때문에 삭제
이승진은/는 경기 수가 30보다 작기 때문에 삭제
오선우은/는 경기 수가 30보다 작기 때문에 삭제
이도윤은/는 경기 수가 30보다 작기 때문에 삭제
보어은/는 경기 수가 30보다 작기 때문에 삭제
김호은은/는 경기 수가 30보다 작기 때문에 삭제
남호은/는 경기 수가 30보다 작기 때문에 삭제
나원탁은/는 경기 수가 30보다 작기 때문에 삭제
권정웅은/는 경기 수가 30보다 작기 때문에 삭제
하재훈은/는 경기 수가 30보다 작기 때문에 삭제
크레익은/는 경기 수가 30보다 작기 때문에 삭제
황경태은/는 경기 수가 30보다 작기 때문에 삭제
노태형은/는 경기 수가 30보다 작기 때문에 삭제

      ab score hit 2_hit 3_hit homerun  ...  so gdp sh name last_date     label
0    125    20  31     5     1       9  ...  33   1  0  나성범       509    0.8922
1     36     3   9     1     0       0  ...   8   0  0  전민수       820  0.594444
2     89    13  19     3     0       1  ...  26   1  2  노수광       617     0.541
3     57    11  13     4     0       2  ...  18   0  0  문상철       514     0.707
4     78     9  20     7     0       2  ...  19   2  0  문보경       613    0.8674
..   ...   ...  ..   ...   ...     ...  ...  ..  .. ..  ...       ...       ...
152   60    10  12     2     0       2  ...  22   1  2  김호령       629      0.81
153  104    15  26     3     0       1  ...  17   0  2  박해민       508    0.7321
154  113    24  38     7     0      11  ...  32   1  0  알테어       509    1.0689
155   37     9  10     1     1       0  ...   9   0  0  조수행       526    0.7752
156   72     6  16     4     2       0  ...  26   2  0  이성곤       820    0.6406

[157 rows x 19 columns]

In [132]:
random_split(seed = 1004, pred_num = 30)

권혁경은/는 경기 수가 60보다 작기 때문에 삭제
한석현은/는 경기 수가 60보다 작기 때문에 삭제
전민수은/는 경기 수가 60보다 작기 때문에 삭제
황윤호은/는 경기 수가 60보다 작기 때문에 삭제
노수광은/는 경기 수가 60보다 작기 때문에 삭제
문대원은/는 경기 수가 60보다 작기 때문에 삭제
문상철은/는 경기 수가 60보다 작기 때문에 삭제
이재율은/는 경기 수가 60보다 작기 때문에 삭제
최용제은/는 경기 수가 60보다 작기 때문에 삭제
이현석은/는 경기 수가 60보다 작기 때문에 삭제
남태혁은/는 경기 수가 60보다 작기 때문에 삭제
김병휘은/는 경기 수가 60보다 작기 때문에 삭제
윤형준은/는 경기 수가 60보다 작기 때문에 삭제
류지혁은/는 경기 수가 60보다 작기 때문에 삭제
김재성은/는 경기 수가 60보다 작기 때문에 삭제
이홍구은/는 경기 수가 60보다 작기 때문에 삭제
백동훈은/는 경기 수가 60보다 작기 때문에 삭제
박승욱은/는 경기 수가 60보다 작기 때문에 삭제
유민상은/는 경기 수가 60보다 작기 때문에 삭제
이해창은/는 경기 수가 60보다 작기 때문에 삭제
이성우은/는 경기 수가 60보다 작기 때문에 삭제
오승환은/는 경기 수가 60보다 작기 때문에 삭제
강민국은/는 경기 수가 60보다 작기 때문에 삭제
신용수은/는 경기 수가 60보다 작기 때문에 삭제
민병헌은/는 경기 수가 60보다 작기 때문에 삭제
최인호은/는 경기 수가 60보다 작기 때문에 삭제
이태훈은/는 경기 수가 60보다 작기 때문에 삭제
김은성은/는 경기 수가 60보다 작기 때문에 삭제
안익훈은/는 경기 수가 60보다 작기 때문에 삭제
김성표은/는 경기 수가 60보다 작기 때문에 삭제
변상권은/는 경기 수가 60보다 작기 때문에 삭제
김윤수은/는 경기 수가 60보다 작기 때문에 삭제
황대인은/는 경기 수가 60보다 작기 때문에 삭제
김재호은/는 경기 수가 60보다 작기 때문에 삭제
라모스은/는 경기 수가 60보다 작기 때문에 삭제
나승엽은/는 경기 수가 60보다 작기 때문에 삭제
최민재은/는 경기 수가 60보다 작기 때문에 삭제
이창재은/는 경기 수가 60보다 작기 때문에 삭제
강경학은/는 경기 수가 60보다 작기 때문에 삭제
장현식은/는 경기 수가 60보다 작기 때문에 삭제
지석훈은/는 경기 수가 60보다 작기 때문에 삭제
최정용은/는 경기 수가 60보다 작기 때문에 삭제
오준혁은/는 경기 수가 60보다 작기 때문에 삭제
문찬종은/는 경기 수가 60보다 작기 때문에 삭제
국해성은/는 경기 수가 60보다 작기 때문에 삭제
지시완은/는 경기 수가 60보다 작기 때문에 삭제
강로한은/는 경기 수가 60보다 작기 때문에 삭제
한승택은/는 경기 수가 60보다 작기 때문에 삭제
박정현은/는 경기 수가 60보다 작기 때문에 삭제
신본기은/는 경기 수가 60보다 작기 때문에 삭제
이재익은/는 경기 수가 60보다 작기 때문에 삭제
유원상은/는 경기 수가 60보다 작기 때문에 삭제
김태연은/는 경기 수가 60보다 작기 때문에 삭제
박민우은/는 경기 수가 60보다 작기 때문에 삭제
김건형은/는 경기 수가 60보다 작기 때문에 삭제
장준원은/는 경기 수가 60보다 작기 때문에 삭제
안상현은/는 경기 수가 60보다 작기 때문에 삭제
최보성은/는 경기 수가 60보다 작기 때문에 삭제
김준완은/는 경기 수가 60보다 작기 때문에 삭제
김진수은/는 경기 수가 60보다 작기 때문에 삭제
강상원은/는 경기 수가 60보다 작기 때문에 삭제
김재현은/는 경기 수가 60보다 작기 때문에 삭제
허도환은/는 경기 수가 60보다 작기 때문에 삭제
김응민은/는 경기 수가 60보다 작기 때문에 삭제
이상호은/는 경기 수가 60보다 작기 때문에 삭제
김규남은/는 경기 수가 60보다 작기 때문에 삭제
전민재은/는 경기 수가 60보다 작기 때문에 삭제
오명진은/는 경기 수가 60보다 작기 때문에 삭제
천성호은/는 경기 수가 60보다 작기 때문에 삭제
김성윤은/는 경기 수가 60보다 작기 때문에 삭제
박승규은/는 경기 수가 60보다 작기 때문에 삭제
허정협은/는 경기 수가 60보다 작기 때문에 삭제
정수빈은/는 경기 수가 60보다 작기 때문에 삭제
장두성은/는 경기 수가 60보다 작기 때문에 삭제
이정훈은/는 경기 수가 60보다 작기 때문에 삭제
나주환은/는 경기 수가 60보다 작기 때문에 삭제
정해영은/는 경기 수가 60보다 작기 때문에 삭제
신민재은/는 경기 수가 60보다 작기 때문에 삭제
예진원은/는 경기 수가 60보다 작기 때문에 삭제
김태훈은/는 경기 수가 60보다 작기 때문에 삭제
배성근은/는 경기 수가 60보다 작기 때문에 삭제
신성현은/는 경기 수가 60보다 작기 때문에 삭제
홍현빈은/는 경기 수가 60보다 작기 때문에 삭제
박정우은/는 경기 수가 60보다 작기 때문에 삭제
김주성은/는 경기 수가 60보다 작기 때문에 삭제
권민석은/는 경기 수가 60보다 작기 때문에 삭제
송준석은/는 경기 수가 60보다 작기 때문에 삭제
신준우은/는 경기 수가 60보다 작기 때문에 삭제
백용환은/는 경기 수가 60보다 작기 때문에 삭제
임종찬은/는 경기 수가 60보다 작기 때문에 삭제
박석민은/는 경기 수가 60보다 작기 때문에 삭제
이명기은/는 경기 수가 60보다 작기 때문에 삭제
안영명은/는 경기 수가 60보다 작기 때문에 삭제
노성호은/는 경기 수가 60보다 작기 때문에 삭제
강태율은/는 경기 수가 60보다 작기 때문에 삭제
이성열은/는 경기 수가 60보다 작기 때문에 삭제
김휘집은/는 경기 수가 60보다 작기 때문에 삭제
나지완은/는 경기 수가 60보다 작기 때문에 삭제
최항은/는 경기 수가 60보다 작기 때문에 삭제
박정음은/는 경기 수가 60보다 작기 때문에 삭제
박세혁은/는 경기 수가 60보다 작기 때문에 삭제
김도환은/는 경기 수가 60보다 작기 때문에 삭제
최영진은/는 경기 수가 60보다 작기 때문에 삭제
모창민은/는 경기 수가 60보다 작기 때문에 삭제
임지열은/는 경기 수가 60보다 작기 때문에 삭제
호잉은/는 경기 수가 60보다 작기 때문에 삭제
서진용은/는 경기 수가 60보다 작기 때문에 삭제
김민하은/는 경기 수가 60보다 작기 때문에 삭제
이영빈은/는 경기 수가 60보다 작기 때문에 삭제
페레즈은/는 경기 수가 60보다 작기 때문에 삭제
권희동은/는 경기 수가 60보다 작기 때문에 삭제
김창평은/는 경기 수가 60보다 작기 때문에 삭제
이병규은/는 경기 수가 60보다 작기 때문에 삭제
김호재은/는 경기 수가 60보다 작기 때문에 삭제
이주형은/는 경기 수가 60보다 작기 때문에 삭제
정상호은/는 경기 수가 60보다 작기 때문에 삭제
이진영은/는 경기 수가 60보다 작기 때문에 삭제
최정민은/는 경기 수가 60보다 작기 때문에 삭제
장지승은/는 경기 수가 60보다 작기 때문에 삭제
이정용은/는 경기 수가 60보다 작기 때문에 삭제
박주홍은/는 경기 수가 60보다 작기 때문에 삭제
오재원은/는 경기 수가 60보다 작기 때문에 삭제
김준태은/는 경기 수가 60보다 작기 때문에 삭제
이우성은/는 경기 수가 60보다 작기 때문에 삭제
조한민은/는 경기 수가 60보다 작기 때문에 삭제
송재영은/는 경기 수가 60보다 작기 때문에 삭제
손호영은/는 경기 수가 60보다 작기 때문에 삭제
최승민은/는 경기 수가 60보다 작기 때문에 삭제
김재유은/는 경기 수가 60보다 작기 때문에 삭제
정진호은/는 경기 수가 60보다 작기 때문에 삭제
허관회은/는 경기 수가 60보다 작기 때문에 삭제
정보근은/는 경기 수가 60보다 작기 때문에 삭제
박민은/는 경기 수가 60보다 작기 때문에 삭제
김지수은/는 경기 수가 60보다 작기 때문에 삭제
이호연은/는 경기 수가 60보다 작기 때문에 삭제
김주현은/는 경기 수가 60보다 작기 때문에 삭제
최정원은/는 경기 수가 60보다 작기 때문에 삭제
김병희은/는 경기 수가 60보다 작기 때문에 삭제
이원재은/는 경기 수가 60보다 작기 때문에 삭제
김주원은/는 경기 수가 60보다 작기 때문에 삭제
박준태은/는 경기 수가 60보다 작기 때문에 삭제
안권수은/는 경기 수가 60보다 작기 때문에 삭제
이주찬은/는 경기 수가 60보다 작기 때문에 삭제
김동엽은/는 경기 수가 60보다 작기 때문에 삭제
유장혁은/는 경기 수가 60보다 작기 때문에 삭제
정우람은/는 경기 수가 60보다 작기 때문에 삭제
이동훈은/는 경기 수가 60보다 작기 때문에 삭제
손성빈은/는 경기 수가 60보다 작기 때문에 삭제
김주형은/는 경기 수가 60보다 작기 때문에 삭제
김수환은/는 경기 수가 60보다 작기 때문에 삭제
심재민은/는 경기 수가 60보다 작기 때문에 삭제
윤명준은/는 경기 수가 60보다 작기 때문에 삭제
김규성은/는 경기 수가 60보다 작기 때문에 삭제
박대온은/는 경기 수가 60보다 작기 때문에 삭제
김민혁은/는 경기 수가 60보다 작기 때문에 삭제
유서준은/는 경기 수가 60보다 작기 때문에 삭제
정범모은/는 경기 수가 60보다 작기 때문에 삭제
서예일은/는 경기 수가 60보다 작기 때문에 삭제
안중열은/는 경기 수가 60보다 작기 때문에 삭제
송성문은/는 경기 수가 60보다 작기 때문에 삭제
김기환은/는 경기 수가 60보다 작기 때문에 삭제
고명준은/는 경기 수가 60보다 작기 때문에 삭제
이승진은/는 경기 수가 60보다 작기 때문에 삭제
오선우은/는 경기 수가 60보다 작기 때문에 삭제
이도윤은/는 경기 수가 60보다 작기 때문에 삭제
보어은/는 경기 수가 60보다 작기 때문에 삭제
프레이타스은/는 경기 수가 60보다 작기 때문에 삭제
김호은은/는 경기 수가 60보다 작기 때문에 삭제
이학주은/는 경기 수가 60보다 작기 때문에 삭제
남호은/는 경기 수가 60보다 작기 때문에 삭제
나원탁은/는 경기 수가 60보다 작기 때문에 삭제
도태훈은/는 경기 수가 60보다 작기 때문에 삭제
권정웅은/는 경기 수가 60보다 작기 때문에 삭제
하재훈은/는 경기 수가 60보다 작기 때문에 삭제
김호령은/는 경기 수가 60보다 작기 때문에 삭제
이성곤은/는 경기 수가 60보다 작기 때문에 삭제
크레익은/는 경기 수가 60보다 작기 때문에 삭제
황경태은/는 경기 수가 60보다 작기 때문에 삭제
노태형은/는 경기 수가 60보다 작기 때문에 삭제

      ab score hit 2_hit 3_hit homerun   tb  ... hpp ibb  so gdp sh name     label
0    257    45  67    15     1      16  132  ...   7   2  65   4  0  나성범  0.950367
1    104    13  24     4     1       2   36  ...   0   0  16   3  0  문보경  0.859867
2     98    10  23     1     1       0   26  ...   0   1   8   4  1  이지영    0.5402
3    172    25  44     8     0       8   76  ...   1   1  43   9  1  한동희  0.784767
4     29    22   8     0     0       0    8  ...   0   0  13   0  1  송민섭  0.465867
..   ...   ...  ..   ...   ...     ...  ...  ...  ..  ..  ..  .. ..  ...       ...
97   206    22  53     7     1       5   77  ...   2   1  25   5  0   터커  0.641867
98    82    10  18     7     0       0   25  ...   0   1  16   1  1  김민식    0.7755
99   239    45  62    10     1       5   89  ...   1   2  43   0  5  박해민     0.766
100  216    32  52     7     0      12   95  ...   3   1  68   2  0  알테어  0.972067
101   41    15  12     1     1       0   15  ...   1   0  13   0  1  조수행  0.721067

[102 rows x 18 columns]