<a href="https://colab.research.google.com/github/KimGriezmann/Bigcontest_2021/blob/master/working_space_SeongGwan/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B3%91%ED%95%A9_%EC%8B%9C%EB%8F%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as plt
import seaborn as sns

In [184]:
def create_df():

  #연도별 데이터 경로
  HTS_dir = '/content/drive/MyDrive/빅콘테스트/01_제공데이터/2021 빅콘테스트_데이터분석분야_챔피언리그_스포츠테크_HTS'
  Crawl_dir = '/content/drive/MyDrive/빅콘테스트/01_제공데이터/data'

  year = [2018, 2019, 2020, 2021]

  for i in year:
    globals()['HTS_{}'.format(i)]     = pd.read_csv(HTS_dir + '_' + str(i) + '.csv', encoding='CP949')
    globals()['Crawl_{}'.format(i)]     = pd.read_csv(Crawl_dir + '_' + str(i) + '.csv', encoding='CP949')

create_df()

2018년 ~10.14

2019년 ~10.1

2020년 ~10.31

In [185]:
HTS_2020['DATE'] = HTS_2020['G_ID'].apply(lambda x: int(x[:8]))

In [186]:
HTS_2020

       GYEAR           G_ID         PIT_ID  ...  PIT_VEL STADIUM      DATE
0       2020  20200505HHSK0  200505_140454  ...   144.39      문학  20200505
1       2020  20200505HHSK0  200505_140623  ...   145.09      문학  20200505
2       2020  20200505HHSK0  200505_141146  ...   132.62      문학  20200505
3       2020  20200505HHSK0  200505_141334  ...   133.36      문학  20200505
4       2020  20200505HHSK0  200505_141409  ...   132.51      문학  20200505
...      ...            ...            ...  ...      ...     ...       ...
34497   2020  20201031NCHT0  201031_193901  ...   130.55      광주  20201031
34498   2020  20201031NCHT0  201031_194414  ...   147.02      광주  20201031
34499   2020  20201031NCHT0  201031_194827  ...   136.33      광주  20201031
34500   2020  20201031NCHT0  201031_200246  ...   144.03      광주  20201031
34501   2020  20201031NCHT0  201031_201522  ...   119.69      광주  20201031

[34502 rows x 12 columns]

In [188]:
Crawl_2020['DATE'] = Crawl_2020['day'].apply(lambda x: int(x.replace('-', '')))

In [189]:
Crawl_2020 = Crawl_2020[Crawl_2020['DATE'] <= 20201031].sort_values('DATE')

In [190]:
Crawl_2020

              day   vs inn pitcher batter  ...    REa   WPs   WPe    WPa      DATE
0      2020-05-05   삼성  1초     백정현    나성범  ...  0.134  53.8  52.6  0.012  20200505
41786  2020-05-05   NC  7말     임창민    박해민  ... -0.258   6.9   5.1 -0.018  20200505
41785  2020-05-05   NC  4말    루친스키    박해민  ... -0.251  27.3  24.5 -0.028  20200505
41784  2020-05-05   NC  2말    루친스키    박해민  ... -0.251  52.4  50.0 -0.024  20200505
41097  2020-05-05   KT  9초     하준호    정보근  ... -0.180   0.7   0.7 -0.001  20200505
...           ...  ...  ..     ...    ...  ...    ...   ...   ...    ...       ...
4945   2020-10-31  KIA  2초     임기영    김성욱  ... -0.322  49.8  52.7 -0.030  20201031
4946   2020-10-31  KIA  4초     임기영    김성욱  ... -0.258  26.7  28.5 -0.018  20201031
4947   2020-10-31  KIA  6초     임기영    김성욱  ...  0.134  72.5  70.5  0.021  20201031
33134  2020-10-31   NC  7말     김태경    유민상  ... -0.258  79.1  77.2 -0.019  20201031
34160  2020-10-31   NC  9말     박진우    한승택  ... -0.337  70.8  63.5 -0.073  20201031

[57666 rows x 15 columns]

In [191]:
HTS_2020['HIT_RESULT'].value_counts()

플라이          10979
1루타           8485
땅볼아웃          7161
2루타           2290
홈런            1359
파울플라이         1211
직선타            917
병살타            887
희생플라이          466
내야안타(1루타)      452
3루타            181
인필드플라이         103
야수선택            10
삼중살타             1
Name: HIT_RESULT, dtype: int64

In [199]:
HTS_2020[HTS_2020['HIT_RESULT'] == '삼중살타']

      GYEAR           G_ID         PIT_ID  ...  PIT_VEL STADIUM      DATE
3090   2020  20200520LTHT0  200520_193619  ...   136.56      광주  20200520

[1 rows x 12 columns]

In [205]:
HTS_2020[HTS_2020['G_ID'] == '20200901LTKT0']

       GYEAR           G_ID         PIT_ID  ...  PIT_VEL STADIUM      DATE
22586   2020  20200901LTKT0  200901_183056  ...   128.78      수원  20200901
22587   2020  20200901LTKT0  200901_183147  ...   138.96      수원  20200901
22588   2020  20200901LTKT0  200901_183258  ...   128.69      수원  20200901
22589   2020  20200901LTKT0  200901_183614  ...   135.81      수원  20200901
22590   2020  20200901LTKT0  200901_183802  ...   135.10      수원  20200901
22591   2020  20200901LTKT0  200901_183958  ...   141.85      수원  20200901
22592   2020  20200901LTKT0  200901_184237  ...   125.16      수원  20200901
22593   2020  20200901LTKT0  200901_184613  ...   127.39      수원  20200901
22594   2020  20200901LTKT0  200901_184933  ...   127.29      수원  20200901
22595   2020  20200901LTKT0  200901_185725  ...   133.80      수원  20200901
22596   2020  20200901LTKT0  200901_185945  ...   140.86      수원  20200901
22597   2020  20200901LTKT0  200901_191040  ...   128.26      수원  20200901
22598   2020  20200901LTKT0  200901_191441  ...   135.88      수원  20200901
22599   2020  20200901LTKT0  200901_191532  ...   125.24      수원  20200901
22600   2020  20200901LTKT0  200901_192005  ...   141.11      수원  20200901
22601   2020  20200901LTKT0  200901_193158  ...   143.02      수원  20200901
22602   2020  20200901LTKT0  200901_193304  ...   133.52      수원  20200901
22603   2020  20200901LTKT0  200901_194207  ...   139.34      수원  20200901
22604   2020  20200901LTKT0  200901_194800  ...   127.50      수원  20200901
22605   2020  20200901LTKT0  200901_195613  ...   129.08      수원  20200901
22606   2020  20200901LTKT0  200901_195713  ...   127.04      수원  20200901
22607   2020  20200901LTKT0  200901_200052  ...   133.85      수원  20200901
22608   2020  20200901LTKT0  200901_200615  ...   128.74      수원  20200901
22609   2020  20200901LTKT0  200901_200917  ...   126.77      수원  20200901
22610   2020  20200901LTKT0  200901_201214  ...   128.40      수원  20200901
22611   2020  20200901LTKT0  200901_201854  ...   136.15      수원  20200901
22612   2020  20200901LTKT0  200901_202024  ...   124.96      수원  20200901
22613   2020  20200901LTKT0  200901_202442  ...   139.31      수원  20200901
22614   2020  20200901LTKT0  200901_202547  ...   139.01      수원  20200901
22615   2020  20200901LTKT0  200901_203048  ...   128.49      수원  20200901
22616   2020  20200901LTKT0  200901_204053  ...   133.26      수원  20200901
22617   2020  20200901LTKT0  200901_204221  ...   130.13      수원  20200901
22618   2020  20200901LTKT0  200901_204320  ...   137.13      수원  20200901
22619   2020  20200901LTKT0  200901_204515  ...   133.80      수원  20200901
22620   2020  20200901LTKT0  200901_204810  ...   142.36      수원  20200901
22621   2020  20200901LTKT0  200901_205210  ...   133.39      수원  20200901
22622   2020  20200901LTKT0  200901_205327  ...   132.07      수원  20200901
22623   2020  20200901LTKT0  200901_205702  ...   130.17      수원  20200901
22624   2020  20200901LTKT0  200901_210110  ...   139.94      수원  20200901
22625   2020  20200901LTKT0  200901_210504  ...   142.38      수원  20200901
22626   2020  20200901LTKT0  200901_210630  ...   141.89      수원  20200901
22627   2020  20200901LTKT0  200901_210825  ...   141.64      수원  20200901
22628   2020  20200901LTKT0  200901_211147  ...   138.40      수원  20200901
22629   2020  20200901LTKT0  200901_211517  ...   147.03      수원  20200901
22630   2020  20200901LTKT0  200901_211619  ...   147.38      수원  20200901
22631   2020  20200901LTKT0  200901_211905  ...   132.11      수원  20200901
22632   2020  20200901LTKT0  200901_212330  ...   136.89      수원  20200901
22633   2020  20200901LTKT0  200901_212435  ...   127.08      수원  20200901
22634   2020  20200901LTKT0  200901_212547  ...   132.28      수원  20200901
22635   2020  20200901LTKT0  200901_213245  ...   140.42      수원  20200901

[50 rows x 12 columns]

In [198]:
Crawl_2020[Crawl_2020['result'].str.contains('삼중살')]

              day   vs inn pitcher batter  ...    REa   WPs   WPe    WPa      DATE
36795  2020-05-20  KIA  4초      가뇽    이대호  ... -1.573  86.5  94.9 -0.084  20200520
39886  2020-09-01   KT  4초     배제성    안치홍  ... -1.573  80.1  91.5 -0.114  20200901
11050  2020-10-03   LG  2말     김윤식    박경수  ... -1.573  64.5  50.0 -0.145  20201003

[3 rows x 15 columns]

In [182]:
Crawl_2020['result'].value_counts()

볼넷                        5213
중견수 뜬공                    3478
2루수 땅볼                    3263
유격수 땅볼                    3145
중견수 안타                    3140
                          ...
투수 인필드 뜬공                    1
유강남/10753 : 3루수 직선타 아웃       1
1루수 번트병살타                    1
허정협/11498 : 유격수 직선타 아웃       1
한승택/11119 : 2루수 직선타 아웃       1
Name: result, Length: 986, dtype: int64

In [104]:
len(HTS_2018), len(Crawl_2018)

(35029, 58699)

In [122]:
# 타구맞음
except_list = ['삼진', '볼넷', '몸에', '고의', '실책', '낫아웃', ]

test_list = '|'.join(except_list)
Crawl_2018_new = Crawl_2018[Crawl_2018['result'].str.contains(test_list) == False].reset_index(drop=True)

In [123]:
Crawl_2018_new

              day  vs inn pitcher batter  ...   LEV    REa   WPs   WPe    WPa
0      2018-03-24  LG  3말      윌슨    나성범  ...  1.76 -0.069  60.5  60.9  0.004
1      2018-03-24  LG  5말      윌슨    나성범  ...  1.19 -0.344  69.6  66.3 -0.034
2      2018-03-24  LG  7말     진해수    나성범  ...  1.56 -0.538  79.1  74.8 -0.043
3      2018-03-25  LG  1말     김대현    나성범  ...  0.40 -0.117  51.0  50.0 -0.010
4      2018-03-25  LG  6말     최성훈    나성범  ...  0.08 -0.380  98.9  98.7 -0.002
...           ...  ..  ..     ...    ...  ...   ...    ...   ...   ...    ...
41317  2018-08-09  넥센  9말     하영민    김인환  ...  0.00 -0.258   0.0   0.0  0.000
41318  2018-05-24  두산  9말     함덕주    박준혁  ...  0.03 -0.258   0.1   0.0 -0.001
41319  2018-05-26  SK  5초      켈리    박준혁  ...  0.15 -0.117  95.8  96.2 -0.004
41320  2018-08-10  넥센  9말     김태훈    박준혁  ...  0.02  0.227   0.1   0.2  0.001
41321  2018-05-30  NC  8말     이형범    이도윤  ...  0.01 -0.180  99.8  99.8 -0.000

[41322 rows x 14 columns]

In [124]:
Crawl_2018_new['result'].value_counts()

유격수 땅볼                    3298
2루수 땅볼                    3278
중견수 안타                    3169
좌익수 안타                    3056
중견수 뜬공                    3017
                          ...
조수행/12524 : 1루수 직선타 아웃       1
이대호/10251 : 1루수 직선타 아웃       1
이원석/10180 : 1루수 직선타 아웃       1
최승준/11092 : 유격수 직선타 아웃       1
한승택/11119 : 3루수 직선타 아웃       1
Name: result, Length: 818, dtype: int64

In [137]:
Crawl_2018_new['result_new'] = Crawl_2018_new['result'].apply(lambda x : "안타" if "안타" in x else "땅볼" if "땅볼" in x else "뜬공" if "뜬공" in x else "직선타" if "직선타" in x else "")

In [138]:
tmp = Crawl_2018_new[Crawl_2018_new['result_new'] == ""]

In [139]:
tmp['result'].value_counts()

좌익수 2루타                1082
좌익수 홈런                  982
중견수 2루타                 807
우익수 2루타                 791
우익수 홈런                  556
유격수 병살타                 444
2루수 병살타                 331
중견수 홈런                  264
3루수 병살타                 241
투수 희생번트                 235
중견수 희생플라이               171
우익수 희생플라이               138
좌익수 희생플라이               125
우익수 3루타                  88
중견수 3루타                  81
1루수 희생번트                 81
투수 병살타                   78
3루수 희생번트                 64
1루수 병살타                  61
투수 번트 아웃                 53
포수 희생번트                  48
3루수 번트 아웃                30
좌익수 3루타                  20
포수 번트 아웃                 14
투수 야수선택(희번)              10
1루수 야수선택                 10
유격수 야수선택                 10
3루수 2루타                   9
1루수 번트 아웃                 9
유격수 2루타                   8
2루수 2루타                   7
2루수 야수선택                  7
3루수 야수선택                  6
2루수 희생플라이                 5
투수 번트병살타                  4
타구맞음                      4
3루수 삼중살                   3
투수 2루타                    3
투수 야수선택                   3
포수 야수선택(희번)               3
2루수 희생번트                  2
포수 번트병살타                  2
3루수 야수선택(희번)              2
3루수 홈런                    2
1루수 야수선택(희번)              1
정주현/10480 : 쓰리번트 아웃       1
2루수 번트 아웃                 1
3루수 번트병살타                 1
유격수 번트 아웃                 1
1루수 2루타                   1
중견수 그라운드 홈런               1
타격방해                      1
Name: result, dtype: int64