<a href="https://colab.research.google.com/github/KimGriezmann/Bigcontest_2021/blob/master/working_space_JaeHong/pre_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import tqdm
import os
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/gdrive', force_remount=True)

Mounted at /gdrive

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [14]:
add_hts_2021 = pd.read_csv('/content/drive/MyDrive/bigcontest/add_hts_2021.csv', encoding = 'euc-kr')
test_data = add_hts_2021.head(15)

In [15]:
#누락된 출루율 계산
#타석(PA) 열 추가 / PA = 타수 + 볼넷 + 희비
#1루타(1_hit) 열 추가 / 1_hit = hit - 2_hit - 3_hit - homerun
#장타(XH) 열 추가 / XH = 2_hit + 3_hit + homerun

test_data['avg'] = round(test_data['hit'] / test_data['ab'], 3)
test_data['obp'] = round((test_data['hit'] + test_data['bb'] + test_data['hpp']) / (test_data['ab'] + test_data['bb'] + test_data['hpp'] + test_data['sf']), 3)
test_data['slg'] = round(test_data['tb'] / test_data['ab'], 3)
test_data['ops'] = round(test_data['obp'] + test_data['slg'], 3)

test_data.insert(8, 'pa', test_data['ab'] + test_data['bb'] + test_data['sf'])
test_data.insert(12, '1_hit', test_data['hit'] - test_data['2_hit'] - test_data['3_hit'] - test_data['homerun'])
test_data.insert(16, 'xh', test_data['2_hit'] + test_data['3_hit'] + test_data['homerun'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [16]:
test_data

   name Team      DATE   vs  ... G_ID  power_barrel contact_barrel  clutch_barrel
0   강백호   kt  20210404   한화  ...  0.0           0.0            0.0            0.0
1   강백호   kt  20210406   LG  ...  0.0           0.0            0.0            0.0
2   강백호   kt  20210407   LG  ...  0.0           0.0            1.0            0.0
3   강백호   kt  20210408   LG  ...  0.0           0.0            2.0            0.0
4   강백호   kt  20210409  @삼성  ...  0.0           0.0            0.0            0.0
5   강백호   kt  20210410  @삼성  ...  0.0           0.0            1.0            0.0
6   강백호   kt  20210411  @삼성  ...  0.0           0.0            0.0            0.0
7   강백호   kt  20210413  @두산  ...  0.0           0.0            1.0            0.0
8   강백호   kt  20210414  @두산  ...  0.0           0.0            1.0            0.0
9   강백호   kt  20210415  @두산  ...  0.0           1.0            0.0            0.0
10  강백호   kt  20210416   키움  ...  0.0           1.0            0.0            1.0
11  강백호   kt  20210417   키움  ...  0.0           0.0            1.0            0.0
12  강백호   kt  20210418   키움  ...  0.0           2.0            0.0            0.0
13  강백호   kt  20210420  @NC  ...  0.0           0.0            0.0            0.0
14  강백호   kt  20210421  @NC  ...  0.0           1.0            2.0            1.0

[15 rows x 45 columns]

In [17]:
def cal_feature(data):
  babip = round((data['hit'] - data['homerun']) / (data['ab'] - data['so'] - data['homerun'] + data['sf']), 3) #babip
  pitch_pa = round(data['pitch'] / data['pa'], 2) #타석당 투구수
  cq = round((0.5 * data['hit'] + 0.3 * data['tb']) / (data['ab'] - data['so']), 3) #컨택 퀄리티
  b_k = round(data['bb'] / data['so'], 3) #볼삼비
  IsoP = data['slg'] - data['avg'] #순수장타율(장타율 - 타율) 
  IsoD = data['obp'] - data['avg'] #순수출루율(출루율 - 타율)
  psn = round((2 * data['homerun'] * data['sb']) / (data['homerun'] + data['sb']), 3) #호타준족수치
  hr_p = round(data['homerun'] / data['pa'], 3) #타석당 홈런비율
  kk_p = round(data['so'] / data['pa'], 3) #타석당 삼진비율
  bb_p = round(data['bb'] / data['pa'], 3) #타석당 볼넷비율
  xh_ab = round(data['xh'] / data['pa'], 3) #타석당 장타비율
  xh_h = round(data['xh'] / data['hit'], 3) #장타비율
  hr_xh = round(data['homerun'] / data['xh'], 3) #장타중 홈런비율
  pa_hr = round(data['pa'] / data['homerun'], 3) #홈런당 타석
  ab_hr = round(data['ab'] / data['homerun'], 3) #홈런당 타수
  ueqr = round((data['hit'] + data['tb'] + 1.5*(data['bb'] + data['hpp'] + data['sb']) + data['sh'] + data['sf'] - data['ibb']/2) / (data['ab'] + data['bb'] + data['hpp'] + data['sh'] + data['sf'] + data['cs'] + data['sb']), 3) #득점창출력
  woba = round((0.72 * data['bb'] + 0.75 * data['hpp'] + 0.9 * data['1_hit'] + 1.24 * data['2_hit'] + 1.56 * data['3_hit'] + 1.95 * data['homerun']) / (data['pa'] - data['ibb']), 3) #조정된 가중출루율

  data['babip'] = babip
  data['pitch/pa'] = pitch_pa
  data['b/k'] = b_k
  data['IsoP'] = IsoP
  data['IsoD'] = IsoD
  data['psn'] = psn
  data['hr%'] = hr_p
  data['kk%'] = kk_p
  data['bb%'] = bb_p
  data['xh/ab'] = xh_ab
  data['xh/h'] = xh_h
  data['hr/xh'] = hr_xh
  data['pa/hr'] = pa_hr
  data['ab/hr'] = ab_hr
  data['ueqr'] = ueqr
  data['wOBA'] = woba

  return data

In [18]:
test = cal_feature(test_data)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
test.iloc[:,7:]

    start_member  pa  ab  score  hit  ...  hr/xh  pa/hr  ab/hr   ueqr   wOBA
0              1   4   3      0    2  ...    NaN    inf    inf  1.417  0.630
1              1   4   4      0    0  ...    NaN    inf    inf  0.000  0.000
2              1   5   4      0    3  ...    NaN    inf    inf  1.500  0.684
3              1   4   4      0    2  ...    NaN    inf    inf  1.000  0.450
4              1   5   5      0    3  ...    0.0    inf    inf  1.600  0.672
5              1   4   3      1    1  ...    NaN    inf    inf  0.875  0.405
6              1   4   4      0    1  ...    NaN    inf    inf  0.500  0.225
7              1   5   5      0    1  ...    NaN    inf    inf  0.400  0.180
8              1   4   3      0    0  ...    NaN    inf    inf  0.375  0.180
9              1   5   2      0    2  ...    0.0    inf    inf  1.700  1.433
10             1   4   4      2    2  ...    0.0    inf    inf  1.250  0.535
11             1   5   4      1    1  ...    NaN    inf    inf  0.700  0.324
12             1   5   4      1    1  ...    NaN    inf    inf  0.600  0.180
13             1   5   4      1    1  ...    NaN    inf    inf  0.700  0.324
14             1   5   5      1    3  ...    1.0    5.0    5.0  1.800  0.750

[15 rows x 54 columns]

In [20]:
def make_percentage(data):
  data['hit'] = round(data['hit'] / data['pa'], 3)
  data['1_hit'] = round(data['1_hit'] / data['pa'], 3)
  data['xh'] = round(data['xh'] / data['pa'], 3)
  data['2_hit'] = round(data['2_hit'] / data['pa'], 3)
  data['3_hit'] = round(data['3_hit'] / data['pa'], 3)
  data['homerun'] = round(data['homerun'] / data['pa'], 3)
  data['tb'] = round(data['tb'] / data['pa'], 3)
  data['rbi'] = round(data['rbi'] / data['pa'], 3)
  data['sb'] = round(data['sb'] / data['pa'], 3)
  data['cs'] = round(data['cs'] / data['pa'], 3)
  data['bb'] = round(data['bb'] / data['pa'], 3)
  data['hpp'] = round(data['hpp'] / data['pa'], 3)
  data['ibb'] = round(data['ibb'] / data['pa'], 3)
  data['so'] = round(data['so'] / data['pa'], 3)
  data['gdp'] = round(data['gdp'] / data['pa'], 3)
  data['sh'] = round(data['sh'] / data['pa'], 3)
  data['sf'] = round(data['sf'] / data['pa'], 3)
  data['avLI'] = round(data['avLI'] / data['pa'], 3)
  data['RE24'] = round(data['RE24'] / data['pa'], 3)
  data['WPA'] = round(data['WPA'] / data['pa'], 3)
  data['power_barrel'] = round(data['power_barrel'] / data['pa'], 3)
  data['contact_barrel'] = round(data['contact_barrel'] / data['pa'], 3)
  data['clutch_barrel'] = round(data['clutch_barrel'] / data['pa'], 3)

  return data

In [21]:
test2 = make_percentage(test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
test2.iloc[:,7:]

    start_member  pa  ab  score   hit  ...  hr/xh  pa/hr  ab/hr   ueqr   wOBA
0              1   4   3      0  0.50  ...    NaN    inf    inf  1.417  0.630
1              1   4   4      0  0.00  ...    NaN    inf    inf  0.000  0.000
2              1   5   4      0  0.60  ...    NaN    inf    inf  1.500  0.684
3              1   4   4      0  0.50  ...    NaN    inf    inf  1.000  0.450
4              1   5   5      0  0.60  ...    0.0    inf    inf  1.600  0.672
5              1   4   3      1  0.25  ...    NaN    inf    inf  0.875  0.405
6              1   4   4      0  0.25  ...    NaN    inf    inf  0.500  0.225
7              1   5   5      0  0.20  ...    NaN    inf    inf  0.400  0.180
8              1   4   3      0  0.00  ...    NaN    inf    inf  0.375  0.180
9              1   5   2      0  0.40  ...    0.0    inf    inf  1.700  1.433
10             1   4   4      2  0.50  ...    0.0    inf    inf  1.250  0.535
11             1   5   4      1  0.20  ...    NaN    inf    inf  0.700  0.324
12             1   5   4      1  0.20  ...    NaN    inf    inf  0.600  0.180
13             1   5   4      1  0.20  ...    NaN    inf    inf  0.700  0.324
14             1   5   5      1  0.60  ...    1.0    5.0    5.0  1.800  0.750

[15 rows x 54 columns]