<a href="https://colab.research.google.com/github/KimGriezmann/Bigcontest_2021/blob/master/working_space_JaeHong/pre_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import tqdm
import os
import matplotlib.pyplot as plt 
import seaborn as sns

In [4]:
from google.colab import drive
drive.mount('/gdrive', force_remount=True)

Mounted at /gdrive

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
test_data = pd.read_csv('/content/drive/MyDrive/bigcontest/test_data.csv', encoding = 'euc-kr')

In [7]:
#누락된 출루율 계산
#타석(PA) 열 추가 / PA = 타수 + 볼넷 + 희비
#총안타(total_hit) 열 추가 / total_hit = hit + 2_hit + 3_hit + homerun
#장타(XH) 열 추가 / XH = 2_hit + 3_hit + homerun
test_data['obp'] = test_data['ops'] - test_data['slg']

test_data.insert(7, 'pa', test_data['ab'] + test_data['bb'] + test_data['sf'])
test_data.insert(10, 'total_hit', test_data['hit'] + test_data['2_hit'] + test_data['3_hit'] + test_data['homerun'])
test_data.insert(12, 'xh', test_data['2_hit'] + test_data['3_hit'] + test_data['homerun'])

In [8]:
test_data

  name      day   vs result  bat_order  ...    ops  pitch  avLI  RE24    WPA
0  강백호  04월 04일   한화  W 3:2          4  ...  1.417     16  1.14  0.89  0.122
1  강백호  04월 06일   LG  L 2:3          4  ...  0.661     30  2.07 -1.00 -0.183
2  강백호  04월 07일   LG  W 7:3          4  ...  0.993     47  1.43  1.75  0.330
3  강백호  04월 08일   LG  L 3:7          4  ...  0.996     64  0.89 -0.76 -0.102
4  강백호  04월 09일  @삼성  L 5:7          4  ...  1.145     85  0.94  1.88 -0.122
5  강백호  04월 10일  @삼성  L 6:7          4  ...  1.104    107  0.94  1.00  0.103
6  강백호  04월 11일  @삼성  L 2:4          4  ...  1.019    123  1.57 -0.20 -0.024
7  강백호  04월 13일  @두산  W 8:7          3  ...  0.926    141  1.31 -2.23 -0.100
8  강백호  04월 14일  @두산  L 1:3          3  ...  0.864    164  1.19 -0.30 -0.042

[9 rows x 35 columns]

In [19]:
def cal_feature(data):
  babip = round((data['total_hit'] - data['homerun']) / (data['ab'] - data['so'] - data['homerun'] + data['sf']), 3) #babip
  pitch_pa = round(data['pitch'] / data['pa'], 2) #타석당 투구수
  cq = round((0.5 * data['total_hit'] + 0.3 * data['tb']) / (data['ab'] - data['so']), 3) #컨택 퀄리티
  b_k = round(data['bb'] / data['so'], 3) #볼삼비
  IsoP = data['slg'] - data['avg'] #순수장타율(장타율 - 타율) 
  IsoD = data['obp'] - data['avg'] #순수출루율(출루율 - 타율)
  psn = round((2 * data['homerun'] * data['sb']) / (data['homerun'] + data['sb']), 3) #호타준족수치
  hr_p = round(data['homerun'] / data['pa'], 3) #타석당 홈런비율
  kk_p = round(data['so'] / data['pa'], 3) #타석당 삼진비율
  bb_p = round(data['bb'] / data['pa'], 3) #타석당 볼넷비율
  xh_ab = round(data['xh'] / data['ab'], 3) #타석당 장타비율
  xh_h = round(data['xh'] / data['total_hit'], 3) #장타비율
  hr_xh = round(data['homerun'] / data['xh'], 3) #장타중 홈런비율
  pa_hr = round(data['pa'] / data['homerun'], 3) #홈런당 타석
  ab_hr = round(data['ab'] / data['homerun'], 3) #홈런당 타수
  ueqr = round((data['total_hit'] + data['tb'] + 1.5*(data['bb'] + data['hpp'] + data['sb']) + data['sh'] + data['sf'] - data['ibb']/2) / (data['ab'] + data['bb'] + data['hpp'] + data['sh'] + data['sf'] + data['cs'] + data['sb']), 3) #득점창출력
  woba = round((0.72 * data['bb'] + 0.75 * data['hpp'] + 0.9 * data['hit'] + 1.24 * data['2_hit'] + 1.56 * data['3_hit'] + 1.95 * data['homerun']) / (data['pa'] - data['ibb']), 3) #조정된 가중출루율

  data['babip'] = babip
  data['pitch/pa'] = pitch_pa
  data['b/k'] = b_k
  data['IsoP'] = IsoP
  data['IsoD'] = IsoD
  data['psn'] = psn
  data['hr%'] = hr_p
  data['kk%'] = kk_p
  data['bb%'] = bb_p
  data['xh/ab'] = xh_ab
  data['xh/h'] = xh_h
  data['hr/xh'] = hr_xh
  data['pa/hr'] = pa_hr
  data['ab/hr'] = ab_hr
  data['ueqr'] = ueqr
  data['wOBA'] = woba

  return data

In [17]:
test = cal_feature(test_data)

In [18]:
test.iloc[:,7:]

   pa  ab  score  total_hit  hit  xh  ...   xh/h  hr/xh  pa/hr  ab/hr   ueqr   wOBA
0   4   3      0          2    2   0  ...  0.000    NaN    inf    inf  1.417  0.630
1   8   7      0          2    2   0  ...  0.000    NaN    inf    inf  0.850  0.315
2  13  11      0          5    5   0  ...  0.000    NaN    inf    inf  1.067  0.457
3  17  15      0          7    7   0  ...  0.000    NaN    inf    inf  1.053  0.455
4  22  20      0         11   10   1  ...  0.091    0.0    inf    inf  1.208  0.545
5  26  23      1         12   11   1  ...  0.083    0.0    inf    inf  1.161  0.524
6  30  27      1         13   12   1  ...  0.077    0.0    inf    inf  1.078  0.484
7  35  32      1         14   13   1  ...  0.071    0.0    inf    inf  0.986  0.441
8  39  35      1         14   13   1  ...  0.071    0.0    inf    inf  0.927  0.414

[9 rows x 44 columns]

In [20]:
def make_percentage(data):
  data['total_hit'] = round(data['total_hit'] / data['pa'], 3)
  data['hit'] = round(data['hit'] / data['pa'], 3)
  data['xh'] = round(data['xh'] / data['pa'], 3)
  data['2_hit'] = round(data['2_hit'] / data['pa'], 3)
  data['3_hit'] = round(data['3_hit'] / data['pa'], 3)
  data['homerun'] = round(data['homerun'] / data['pa'], 3)
  data['tb'] = round(data['tb'] / data['pa'], 3)
  data['rbi'] = round(data['rbi'] / data['pa'], 3)
  data['sb'] = round(data['sb'] / data['pa'], 3)
  data['cs'] = round(data['cs'] / data['pa'], 3)
  data['bb'] = round(data['bb'] / data['pa'], 3)
  data['hpp'] = round(data['hpp'] / data['pa'], 3)
  data['ibb'] = round(data['ibb'] / data['pa'], 3)
  data['so'] = round(data['so'] / data['pa'], 3)
  data['gdp'] = round(data['gdp'] / data['pa'], 3)
  data['sh'] = round(data['sh'] / data['pa'], 3)
  data['sf'] = round(data['sf'] / data['pa'], 3)
  data['avLI'] = round(data['avLI'] / data['pa'], 3)
  data['RE24'] = round(data['RE24'] / data['pa'], 3)
  data['WPA'] = round(data['WPA'] / data['pa'], 3)

  return data

In [22]:
test2 = make_percentage(test)

In [23]:
test2.iloc[:,7:]

   pa  ab  score  total_hit    hit  ...  hr/xh  pa/hr  ab/hr   ueqr   wOBA
0   4   3      0      0.500  0.500  ...    NaN    inf    inf  1.417  0.630
1   8   7      0      0.250  0.250  ...    NaN    inf    inf  0.850  0.315
2  13  11      0      0.385  0.385  ...    NaN    inf    inf  1.067  0.457
3  17  15      0      0.412  0.412  ...    NaN    inf    inf  1.053  0.455
4  22  20      0      0.500  0.455  ...    0.0    inf    inf  1.208  0.545
5  26  23      1      0.462  0.423  ...    0.0    inf    inf  1.161  0.524
6  30  27      1      0.433  0.400  ...    0.0    inf    inf  1.078  0.484
7  35  32      1      0.400  0.371  ...    0.0    inf    inf  0.986  0.441
8  39  35      1      0.359  0.333  ...    0.0    inf    inf  0.927  0.414

[9 rows x 44 columns]